<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Product Manager</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button > Accounts </a>
      <a mat-button > Create Account </a>
      <a mat-button > Contacts </a>
      <a mat-button> Create Contact </a>
    

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
      <span style="font-size: 12px;">Product Manager</span>
    </mat-toolbar-row>
</mat-toolbar>